@model PK_School.Models.Employee
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Employee Update</h1>
                    <p class="text-center text-danger">@TempData["error"]</p>
                    <div class="card-body">
                        <form method="post" asp-action="Edit" asp-controller="Employees">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input type="hidden" asp-for="Id" />
                                <input type="text" class="form-control"  asp-for="Name" />
                            </div>
                            <div class="form-group">
                                <label asp-for="City"></label>
                                <input type="text" class="form-control"  asp-for="City" />
                            </div>
                            <div class="form-group">
                                <label asp-for="State"></label>
                                <input type="text" class="form-control"  asp-for="State" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Salary"></label>
                                <input type="text" class="form-control"  asp-for="Salary" />
                            </div>
                            <div class="form btn-group ">
                                <input type="submit" value="submit" class="btn btn-outline-success shadow float-lg-right" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

